include README.rst
include LICENSE
include empd_admin/data/meta.tsv
include empd_admin/data/tests/pytest.ini
include empd_admin/data/tests/*.py
include empd_admin/data/postgres/scripts/*.py
include empd_admin/data/postgres/scripts/*.sql
include empd_admin/data/postgres/scripts/*.xlsx
include empd_admin/data/postgres/scripts/tables/*.tsv
